$fondo: rgb(241, 241, 230);
$borde: 1rem;
$ancho: calc(400px - 40px);
@mixin card(){
    width: $ancho;
    background-color: $fondo;
    padding: 20px;
    border-radius: $borde;
    margin: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    .information{
        text-align: justify;
        font-size: 1.3rem;
        font-weight: bold;
    }
    p{
        font-weight: 50;
        color: rgba(36, 36, 33, 0.533)
    }
    img{
        width: $ancho;
        height: 300px;
        object-fit: cover;
        border-radius: $borde;
    }
}
.target{
    @include card();
}